-webkit-locale: 'en';
box-sizing: border-box;
padding: 0;
border: 0;
font: inherit;
vertical-align: baseline;
margin: 0;
font-size: var(--font-size-body-m);
background: #fff;
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
-webkit-tap-highlight-color: transparent;
-webkit-font-feature-settings: 'lnum';
overflow-x: clip;
overflow-y: visible;
scroll-behavior: smooth;
--branch-green: #314438;
--swiper-theme-color: #007aff;
--swiper-navigation-size: 44px;
--menu-mobile-bg-color: #ffffff;
--menu-mobile-body-font-size: 18px;
--menu-mobile-body-font-weight: 400;
--menu-mobile-header-font-size: 32px;
--menu-mobile-header-font-weight: 700;
--menu-mobile-left-right-padding: 28px;
--menu-mobile-letter-spacing-multiplier: 0.05;
--menu-mobile-line-height: 140%;
--menu-mobile-link-text-color: #8dc0d2;
--menu-mobile-line-height-multiplier: 1.4;
--menu-mobile-nav-link-top-bottom-padding: 10px;
--menu-mobile-slider-left-right-margin: 10px;
--menu-mobile-transition: all 0.25s ease-in-out;
--mobile-menu-letter-spacing-multiplier: 0.03;
--primary-branch-green: #314438;
--gallery-image-width-small-desktop: calc(100vw - 540px);
--gallery-image-width-medium-desktop: calc(55vw - 72px);
--gallery-image-width-large-desktop: 648px;
--mobile-content-left-right-margin: 24px;
--mobile-content-top-bottom-padding: 60px;
--tablet-content-left-right-margin: 64px;
--tablet-and-above-content-top-bottom-padding: 80px;
--desktop-content-max-width: 77.77%;
--desktop-content-max-width-vw: 77.77vw;
--large-desktop-content-max-width: 1120px;
--content-main-color: #314438;
--content-secondary-color: #f3eeea;
--content-tertiary-color: #8cc1d2;
--primary-white: #ffffff;
--primary-cream: #f3eeea;
--primary-blue: #8dc0d2;
--light-blue: #8cc1d2;
--neutral-grey: #666666;
--primary-orange: #c66e4e;
--primary-green: #314438;
--primary-black: #000000;
--promo-dark-gray: #1a1a1a;
--primary-ultra-dark-gray: #222326;
--primary-green-20: rgba(49, 68, 56, 0.2);
--primary-green-20-hex: #d6d9d7;
--primary-green-50: rgba(49, 68, 56, 0.5);
--primary-green-50-hex: #98a19b;
--warning-red: #a72100;
--render-bg-color: #f0f0f0;
--neutral-light-gray: #ccc;
--primary-light-gray: #f3f0ed;
--font-family-header: 'Frank Ruhl Libre', serif;
--font-family-header-special: 'Koulen', sans;
--font-family-body: 'Quicksand', sans-serif;
--font-size-body-xl: 20px;
--font-size-body-l: 16px;
--font-size-body-m: 14px;
--font-size-body-s: 12px;
--font-size-h1-desktop: 60px;
--font-size-h2-desktop: 40px;
--font-size-h3-desktop: 32px;
--font-size-h4-desktop: 26px;
--font-size-h5-desktop: 20px;
--font-size-h6-desktop: 16px;
--font-size-h1-tablet: 54px;
--font-size-h2-tablet: 36px;
--font-size-h3-tablet: 28px;
--font-size-h4-tablet: 22px;
--font-size-h5-tablet: 18px;
--font-size-h6-tablet: 14px;
--font-size-h1-mobile: 42px;
--font-size-h2-mobile: 28px;
--font-size-h3-mobile: 24px;
--font-size-h4-mobile: 20px;
--font-size-h5-mobile: 16px;
--font-size-h6-mobile: 12px;
--font-weight-body: 400;
--font-weight-header: 700;
--font-body-style: normal;
--line-height: 140%;
--line-height-multiplier: 1.4;
--letter-spacing-multipler: 0.05;
--letter-spacing-multipler-header: -0.03;
--pdp-element-border-color: rgba(49, 68, 56, 0.2);
--shop-by-spaces-hero-med-aspect-ratio: calc(
  calc(100% - 24px - 24px) / calc(calc(100% * 0.6666) - 24px)
);
--oke-widget-spaceAbove: 20px;
--oke-widget-spaceBelow: 20px;
--oke-starRating-spaceAbove: 0;
--oke-starRating-spaceBelow: 0;
--oke-button-backgroundColor: #314438;
--oke-button-backgroundColorHover: #f4f4f6;
--oke-button-backgroundColorActive: #fff;
--oke-button-textColor: #fff;
--oke-button-textColorHover: #314438;
--oke-button-textColorActive: #314438;
--oke-button-borderColor: #314438;
--oke-button-borderColorHover: #314438;
--oke-button-borderColorActive: #314438;
--oke-button-borderRadius: 0;
--oke-button-borderWidth: 2px;
--oke-button-fontWeight: 700;
--oke-button-fontSize: var(--oke-text-regular, 14px);
--oke-button-fontFamily: inherit;
--oke-border-color: #d6dad7;
--oke-border-width: 1px;
--oke-text-primaryColor: #314438;
--oke-text-secondaryColor: #314438;
--oke-text-small: 12px;
--oke-text-regular: 14px;
--oke-text-large: 20px;
--oke-text-fontFamily: inherit;
--oke-avatar-size: 48px;
--oke-avatar-backgroundColor: #314438;
--oke-avatar-placeholderTextColor: #fff;
--oke-highlightColor: #314438;
--oke-shadingColor: #fff;
--oke-productImageSize: 48px;
--oke-attributeBar-shadingColor: #9a9db1;
--oke-attributeBar-borderColor: undefined;
--oke-attributeBar-backgroundColor: #d3d4dd;
--oke-attributeBar-markerColor: #00caaa;
--oke-filter-backgroundColor: #fff;
--oke-filter-backgroundColorActive: #fff;
--oke-filter-borderColor: #314438;
--oke-filter-borderColorActive: #314438;
--oke-filter-textColor: #314438;
--oke-filter-textColorActive: #314438;
--oke-filter-borderRadius: 100px;
--oke-filter-searchHighlightColor: #b2f9e9;
--oke-mediaGrid-chevronColor: #676986;
--oke-stars-foregroundColor: #314438;
--oke-stars-backgroundColor: #e5e5e5;
--oke-stars-borderWidth: 0;
--lm--base-scale: 1;
--lm--base-unit: 0.1rem * var(--lm--base-scale);
--lm--color-background: var(--color-background, 255, 255, 255);
--lm--color-surface: var(--lm--color-background, 255, 255, 255);
--lm--color-surface-secondary: 249, 249, 248;
--lm--color-surface-subdued: var(--lm--color-foreground), 0.065;
--lm--color-foreground: var(--color-foreground, 0, 0, 0);
--lm--color-foreground-secondary: 100, 100, 100;
--lm--color-foreground-subdued: 80, 80, 80;
--lm--color-foreground-neutral: 32, 32, 32;
--lm--color-shadow: var(--color-shadow, var(--lm--color-foreground));
--lm--color-border: var(--lm--color-foreground, 0, 0, 0);
--lm--color-link: var(--color-link, var(--lm--color-foreground));
--lm--color-error: 209, 52, 21;
--lm--color-success: 42, 126, 59;
--lm--color-primary: var(--lm--color-foreground);
--lm--spacing-0: 0;
--lm--spacing-50: calc(2 * var(--lm--base-unit));
--lm--spacing-100: calc(4 * var(--lm--base-unit));
--lm--spacing-150: calc(6 * var(--lm--base-unit));
--lm--spacing-200: calc(8 * var(--lm--base-unit));
--lm--spacing-300: calc(12 * var(--lm--base-unit));
--lm--spacing-400: calc(16 * var(--lm--base-unit));
--lm--spacing-500: calc(20 * var(--lm--base-unit));
--lm--spacing-600: calc(24 * var(--lm--base-unit));
--lm--spacing-700: calc(28 * var(--lm--base-unit));
--lm--spacing-800: calc(32 * var(--lm--base-unit));
--lm--spacing-900: calc(36 * var(--lm--base-unit));
--lm--spacing-1000: calc(40 * var(--lm--base-unit));
--lm--spacing-1100: calc(44 * var(--lm--base-unit));
--lm--spacing-1200: calc(48 * var(--lm--base-unit));
--lm--spacing-1600: calc(64 * var(--lm--base-unit));
--lm--radius-100: calc(4 * var(--lm--base-unit));
--lm--radius-200: calc(8 * var(--lm--base-unit));
--lm--radius-300: calc(12 * var(--lm--base-unit));
--lm--radius-400: calc(16 * var(--lm--base-unit));
--lm--radius-full: 9999px;
--lm--page-width: var(--page-width, calc(1400 * var(--lm--base-unit)));
--lm--page-width-margin: var(--page-width-margin, 0);
--lm--icon-size-small: calc(20 * var(--lm--base-unit));
--lm--icon-size-base: calc(24 * var(--lm--base-unit));
--lm--icon-size-large: calc(32 * var(--lm--base-unit));
--lm--font-body-weight: var(--font-body-weight, 400);
--lm--font-body-weight-medium: var(--font-body-weight-medium, 500);
--lm--font-body-weight-semibold: var(--font-body-weight-semibold, 600);
--lm--font-body-weight-bold: var(--font-body-weight-bold, 700);
--lm--font-heading-weight: var(--font-heading-weight, var(--lm--font-body-weight));
--lm--font-heading-weight-bold: var(--lm--font-body-weight-bold);
--lm--font-heading-scale: calc(var(--font-heading-scale, 1) * var(--lm--base-unit));
--lm--font-body-tiny: calc(10 * var(--lm--base-unit));
--lm--font-body-small: calc(12 * var(--lm--base-unit));
--lm--font-body-base: calc(14 * var(--lm--base-unit));
--lm--font-body-medium: calc(16 * var(--lm--base-unit));
--lm--font-body-large: calc(18 * var(--lm--base-unit));
--lm--font-body-xlarge: calc(20 * var(--lm--base-unit));
--lm--font-heading-tiny: calc(14 * var(--lm--font-heading-scale));
--lm--font-heading-small: calc(16 * var(--lm--font-heading-scale));
--lm--font-heading-base: calc(20 * var(--lm--font-heading-scale));
--lm--font-heading-medium: calc(24 * var(--lm--font-heading-scale));
--lm--font-heading-large: calc(28 * var(--lm--font-heading-scale));
--lm--font-heading-xlarge: calc(32 * var(--lm--font-heading-scale));
--lm--font-heading-xxlarge: calc(64 * var(--lm--font-heading-scale));
--lm--border-opacity: var(--border-opacity, 0.1);
--lm--border-width: var(--border-width, 1px);
--lm--border-width-thick: var(--border-width, 3px);
--lm--border: var(--lm--border-width) solid rgb(var(--lm--color-border), var(--lm--border-opacity));
--lm--button-color-foreground: var(--color-button-text, var(--lm--color-background));
--lm--button-color-background: var(--color-button, var(--lm--color-foreground));
--lm--button-spacing: var(--lm--spacing-400);
--lm--button-font-size: var(--lm--font-body-base);
--lm--button-radius: var(--buttons-radius, var(--lm--radius-100));
--lm--button-color-border: var(--lm--button-color-background);
--lm--button-border-width: var(--buttons-border-width, 0);
--lm--button-border-opacity: var(--buttons-border-opacity, 1);
--lm--button-shadow-opacity: var(--buttons-shadow-opacity, 1);
--lm--button-shadow-visible: var(--buttons-shadow-visible, 0);
--lm--button-shadow-offset-x: var(--buttons-shadow-horizontal-offset, 3px);
--lm--button-shadow-offset-y: var(--buttons-shadow-vertical-offset, 3px);
--lm--button-shadow-blur: var(--buttons-shadow-blur, 5px);
--lm--button-border-offset: var(--buttons-border-offset, 0);
--lm--secondary-button-color-foreground: var(
  --color-secondary-button-text,
  var(--lm--color-foreground)
);
--lm--secondary-button-color-background: var(--color-secondary-button, var(--lm--color-surface));
--lm--secondary-button-color-border: var(--lm--button-color-background);
--lm--secondary-button-border-width: 1px;
--lm--secondary-button-border-opacity: var(--lm--button-border-opacity);
--lm--dropdown-background: var(--lm--color-background);
--lm--dropdown-border-opacity: var(--popup-border-opacity, 0.25);
--lm--dropdown-radius: var(--popup-corner-radius, 4px);
--lm--dropdown-border-width: var(--popup-border-width, 1px);
--lm--dropdown-shadow-offset-x: var(--popup-shadow-horizontal-offset, 2px);
--lm--dropdown-shadow-offset-y: var(--popup-shadow-vertical-offset, 2px);
--lm--dropdown-shadow-blur: var(--popup-shadow-blur-radius, 10px);
--lm--dropdown-shadow-opacity: var(--popup-shadow-opacity, 0.1);
--lm--dropdown-shadow: var(--lm--dropdown-shadow-offset-x) var(--lm--dropdown-shadow-offset-y)
  var(--lm--dropdown-shadow-blur) rgb(var(--lm--color-shadow), var(--lm--dropdown-shadow-opacity));
--lm--popover-safe-space: 16px;
--lm--account-nav-title: var(--lm--font-heading-xlarge);
--lm--account-nav-weight: var(--lm--font-heading-weight-bold);
--lm--account-nav-letter-spacing: 0.2px;
--lm--duration-default: var(--duration-default, 200ms);
--lm--field-radius: var(--inputs-radius, var(--lm--radius-100));
--lm--field-border-width: var(--inputs-border-width, 1px);
--lm--field-color-border: var(--lm--color-foreground);
--lm--field-border-opacity: var(--inputs-border-opacity, 1);
--lm--field-border: var(--lm--field-border-width) solid
  rgb(var(--lm--field-color-border), var(--lm--field-border-opacity));
--lm--field-shadow-opacity: var(--inputs-shadow-opacity);
--lm--field-shadow-offset-x: var(--inputs-shadow-horizontal-offset);
--lm--field-shadow-offset-y: var(--inputs-shadow-vertical-offset);
--lm--field-shadow-blur: var(--inputs-shadow-blur-radius);
--lm--field-margin-offset: var(--inputs-margin-offset);
--lm--field-radius-outset: var(--inputs-radius-outset);
--lm--banner-background: var(--lm--color-surface);
--lm--banner-border-color: var(--lm--color-border);
--lm--banner-border-width: 0.1rem;
--lm--banner-border-opacity: 0.2;
--lm--banner-foreground: var(--lm--color-foreground);
--lm--banner-radius: var(--lm--radius-200);
--lm--z-background: 1;
--lm--z-surface: 10;
--lm--z-modal: 100;
--lm--z-popover: 1000;
--lm--z-forced: 999999999999;
color: rgb(var(--lm--color-foreground));
--header-top: -41px;
--sticky-header-height: 56px;
